/* EXTRA SMALL DEVICES (PORTRAIT PHONE, less than 576px) */
@media (max-width: 575.98px) {
  .title {
    width: 100%;
  }
  .header__container {
    gap: 30px;
  }
  .header__menu {
    padding: 1.25rem 0 2.5rem;
  }
  .header__menu .navbar-nav {
    gap: 60px;
  }
  .header__menu .nav-item {
    margin-inline: auto;
  }
  .whyus__container {
    padding: 0 20px;
  }
  .whyus__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .whyus__box:nth-child(-n+2) {
    margin-bottom: 50px;
  }
  .whyus__content {
    text-align: center;
  }
  .whyus__content h2 {
    line-height: 1.75rem;
  }
  .whyus__content p {
    line-height: 0.9375rem;
  }
  .benefit__row {
    padding: 0 0.625rem;
  }
  .benefit__contents {
    text-align: center;
  }
  .benefit__contents ul {
    padding-left: 1.25rem;
  }
  .benefit__image {
    padding: 0 1.5625rem 1.5625rem;
    background-color: #F0F1EC;
  }
  .benefit__image img {
    margin-top: -1.875rem;
  }
  .stars__row {
    padding: 0 0.625rem;
  }
  .stars__image {
    padding: 0 1.5625rem 1.5625rem;
    background-color: #F0F1EC;
  }
  .stars__image img {
    margin-top: -3.125rem;
  }
  .stars__contents {
    text-align: center;
  }
  .stars__contents-status .box {
    width: 100%;
  }
  .stars__button {
    display: block;
  }
  .features__boxes {
    padding: 0 0.625rem;
  }
  .features__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__box:nth-of-type(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__box:nth-of-type(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__box-image {
    padding: 0 0.625rem;
  }
  .features__box-contents {
    padding: 2.5rem 2.5rem 1.875rem 1.875rem;
    border: 0.125rem solid #06C167;
  }
  .popular__title {
    text-align: center;
  }
  .popular__products {
    gap: 2.5rem;
  }
  .footer__box {
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .footer__box-text p {
    padding-right: 0;
  }
  .footer__box-social, .footer__box-email {
    margin-inline: auto;
  }
  .footer__box-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box-four {
    margin-bottom: 0;
  }
}
/* SMALL DEVICES (LANSCAPE PHONE, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .header__container {
    gap: 30px;
  }
  .header__menu {
    padding: 1.25rem 0 2.5rem;
  }
  .header__menu .navbar-nav {
    gap: 60px;
  }
  .header__menu .nav-item {
    margin-inline: auto;
  }
  .whyus__row {
    gap: 1.25rem;
  }
  .whyus__box {
    margin-inline: auto;
    width: 48%;
  }
  .features__boxes {
    padding: 0 0.625rem;
  }
  .features__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__box:nth-of-type(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__box:nth-of-type(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__box-image {
    padding: 0 0.625rem;
    background-color: #fff;
  }
  .features__box-contents {
    padding: 2.5rem 2.5rem 1.875rem 1.875rem;
    border: 0.125rem solid #06C167;
  }
  .popular__title {
    text-align: center;
  }
  .popular__products {
    gap: 2.5rem;
  }
  .footer__box {
    text-align: center;
    margin-bottom: 3.125rem;
  }
  .footer__box-text p {
    padding-right: 0;
  }
  .footer__box-social, .footer__box-email {
    margin-inline: auto;
  }
  .footer__box-four {
    margin-bottom: 0;
  }
}
/* MEDIUM DEVICES (TABLETS, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .header__container {
    gap: 30px;
  }
  .header__menu {
    padding: 1.25rem 0 2.5rem;
  }
  .header__menu .navbar-nav {
    gap: 60px;
  }
  .header__menu .nav-item {
    margin-inline: auto;
  }
  .whyus__row {
    gap: 3.125rem;
  }
  .whyus__box {
    margin-inline: auto;
    width: 45%;
  }
  .popular__products :nth-child(3) {
    margin-top: 1.25rem;
  }
  .popular__products :nth-child(4) {
    margin-top: 1.25rem;
  }
  .footer__box-text p {
    padding-right: 5rem;
  }
  .footer__box-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box-two, .footer__box-three {
    margin-top: 1.875rem;
  }
}
/* LARGE DEVICES (DESKTOPS, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .benefit__image {
    padding: 0 1.875rem 3.75rem;
  }
  .stars__contents-row {
    gap: 0.625rem;
  }
  .features__box-contents h2 {
    font-size: 1.5625rem;
  }
  .popular__product {
    padding: 1.25rem 1.25rem 1.5625rem;
  }
  .popular__info {
    margin: 1.25rem 0 1.875rem;
  }
  .popular__button {
    padding: 0.625rem;
  }
  .footer__box-text p {
    padding-right: 5rem;
  }
  .footer__box-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__box-four p {
    padding-right: 2.5rem;
  }
}
/* EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200px and up) */
/* EXTRA EXTRA LARGE DEVICES (LARGE DESKTOPS, 1400px and up) */