@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.section-padding {
  padding: clamp(3.75rem, 5vw, 6.25rem) 0 clamp(3.75rem, 5vw, 8.125rem) 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1d1d1f;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #06C167;
}

::selection {
  background-color: #06C167;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  font-weight: 400;
  color: #1d1d1f;
  text-decoration: none;
}
a:hover {
  color: #06C167;
}

ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

i {
  color: #06C167;
}

.arrow {
  color: #fff;
}

.social {
  color: #1d1d1f;
}

.hero-heading {
  font-size: clamp(3.125rem, 4.8vw + 1.0625rem, 4.375rem);
  font-weight: 600;
}

.hero-text {
  color: hsla(240, 3%, 12%, 0.749);
}

.title {
  font-size: clamp(2.1875rem, 3.4vw + 1rem, 3.75rem);
  font-weight: 500;
  width: 15ch;
  line-height: 4.538125rem;
}

.mini-title {
  font-size: 0.9375rem;
  font-weight: 500;
}

.section-padding {
  padding: clamp(3.75rem, 5vw, 6.25rem) 0 clamp(3.75rem, 5vw, 8.125rem) 0;
}

.header {
  padding: 0.625rem 0;
  background-color: #f3fcf7;
}
.header__navbar {
  padding: 0;
}
.header__logo a {
  font-size: clamp(1.5625rem, 3vw + 0.625rem, 1.875rem);
  font-weight: 500;
  color: #06C167;
}
.header__logo a:hover {
  color: #06C167;
}
.header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.header__toggler .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0.1875rem solid #06C167;
}
.header__toggler .navbar-toggler:focus .toggler {
  color: #06C167;
}
.header__toggler .toggler {
  padding: 0.1875rem 0;
  font-size: 1.5625rem;
  color: #1d1d1f;
}
.header__menu .active {
  color: #06C167 !important;
}
.header__menu a {
  font-weight: 500;
}
.header__menu a:hover {
  color: #06C167;
}
.header__menu .navbar-nav {
  gap: 20px;
}