@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1d1d1f;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #F0F1EC;
}

::selection {
  background-color: #F0F1EC;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  font-weight: 400;
  color: #1d1d1f;
  text-decoration: none;
}
a:hover {
  color: #06C167;
}

ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

i {
  color: #06C167;
}

.arrow {
  color: #fff;
}

.social {
  color: #1d1d1f;
}

.padding-top {
  padding-top: 3.75rem;
}

.padding-bottom {
  padding: 6.25rem 0 clamp(9.375rem, 5vw, 8.125rem);
}

.section-padding {
  padding: clamp(3.75rem, 5vw, 6.25rem) 0 clamp(3.75rem, 5vw, 8.125rem) 0;
}

.hero-heading {
  font-size: clamp(3.125rem, 4.8vw + 1.0625rem, 4.375rem);
  font-weight: 600;
}

.hero-text {
  color: hsla(240, 3%, 12%, 0.749);
}

.title {
  font-size: clamp(2.1875rem, 3.4vw + 1rem, 3.75rem);
  font-weight: 500;
  margin: 0.625rem 0 clamp(3.125rem, 4vw, 3.75rem) 0;
  width: 15ch;
  line-height: clamp(2.625rem, 5vw + 1.125rem, 4.5rem);
}

.mini-title {
  font-size: 0.9375rem;
  font-weight: 500;
}

.background-image {
  position: relative;
  top: 150px;
  right: 50px;
  padding: 60px;
  background: url(../../image/hero/dots.webp);
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image-hero {
  position: relative;
  bottom: 160px;
  left: 370px;
  width: 200px;
  height: 200px;
  border: 1px solid;
  background: url(../../image/hero/dots.webp);
  background-repeat: no-repeat;
  z-index: 99;
}

.header {
  padding: 0.625rem 0;
  background-color: #f3fcf7;
}
.header__navbar {
  padding: 0;
}
.header__logo a {
  font-size: clamp(1.5625rem, 3vw + 0.625rem, 1.875rem);
  font-weight: 500;
  color: #06C167;
}
.header__logo a:hover {
  color: #06C167;
}
.header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.header__toggler .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0.1875rem solid #06C167;
}
.header__toggler .navbar-toggler:focus .toggler {
  color: #06C167;
}
.header__toggler .toggler {
  padding: 0.1875rem 0;
  font-size: 1.5625rem;
  color: #1d1d1f;
}
.header__menu a {
  font-weight: 500;
}
.header__menu a:hover {
  color: #06C167;
}
.header__menu .navbar-nav {
  gap: 20px;
}

.hero__wrapper {
  background-color: #f3fcf7;
}
.hero__contents {
  margin-top: 3.125rem;
}
.hero__contents h1 {
  padding-right: 10rem;
}
.hero__contents p {
  padding-right: 13.125rem;
}
.hero__image {
  position: relative;
}
.hero__image .quality::after {
  content: "";
  position: absolute;
  background-size: cover;
  width: 230px;
  height: 50px;
  z-index: 1;
  top: 250px;
  right: -40px;
  background-image: url("./../../image/hero/quality.webp");
  border-radius: 50px;
}
.hero__image .rating::after {
  content: "";
  position: absolute;
  background-size: cover;
  width: 230px;
  height: 50px;
  z-index: 1;
  top: 300px;
  right: 370px;
  background-image: url("./../../image/hero/rating.webp");
  border-radius: 50px;
}
.hero__image .dots::after {
  content: "";
  position: absolute;
  background-size: cover;
  right: -50px;
  bottom: -20px;
  width: 200px;
  height: 200px;
  background-image: url("./../../image/hero/dots.webp");
}
.hero__button a {
  display: inline-block;
  padding: 1.25rem 2.5rem;
  color: #fff;
  background-color: #06C167;
}
.hero__button a i {
  margin-left: 0.9375rem;
}
.hero__button a:hover {
  color: #06C167;
  background-color: #fff;
  outline: 0.125rem solid #06C167;
}
.hero__button a:hover i {
  color: #06C167;
}
.hero__brands {
  margin-top: -10.625rem;
  background-color: #fff;
}
.hero__brand {
  margin-top: -3.125rem;
  width: 37.5rem;
}
.hero__brand img {
  width: 160px;
  height: 1.875rem;
}

.whyus__row {
  padding: 3.4375rem 0;
  border-top: 0.125rem solid #eaeaea;
  border-bottom: 0.125rem solid #eaeaea;
}
.whyus__box {
  gap: 1.25rem;
}
.whyus__icon i {
  padding: 1.25rem;
  background-color: #f3fcf7;
  border-radius: 0.5rem;
}
.whyus__content h2 {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
}
.whyus__content p {
  font-size: 0.875rem;
}

.benefit__row {
  gap: clamp(3.75rem, 5vw, 5rem);
}
.benefit__image {
  padding: 0 3.125rem 5.625rem;
  background-color: #f3fcf7;
}
.benefit__image img {
  width: 27.8125rem;
  height: 31.875rem;
}
.benefit__contents li:not(:first-child) {
  margin-top: 0.625rem;
}
.benefit__contents li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefit__contents li i {
  font-size: 1.25rem;
}

.stars__row {
  gap: clamp(3.75rem, 5vw, 5rem);
}
.stars__contents-row {
  gap: 3.125rem;
}
.stars__contents-status {
  margin-bottom: 3.125rem;
}
.stars__contents-status .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}
.stars__contents-status span {
  font-size: 2.5rem;
  font-weight: 600;
  color: #06C167;
}
.stars__button {
  display: inline-block;
  padding: 1.125rem;
  background-color: #06C167;
}
.stars__button:hover {
  background-color: #fff;
  outline: 0.125rem solid #06C167;
  cursor: pointer;
}
.stars__button:hover a, .stars__button:hover i {
  color: #06C167;
}
.stars__button a {
  color: #fff;
}
.stars__button i {
  margin-left: 0.625rem;
}
.stars__image {
  padding: 0 0 5rem 5rem;
  background-color: #f3fcf7;
}

.features__row {
  padding: 0;
}
.features__boxes {
  margin-top: 3.125rem;
}
.features__box {
  padding: 0;
  background-color: #f3fcf7;
}
.features__box-contents {
  padding: 0 1.875rem;
}
.features__box-contents p {
  margin: 1.5625rem 0 2.1875rem;
}
.features__box-button {
  display: inline-block;
  padding: 0.625rem;
  background-color: #e6f9f0;
}
.features__box-button:hover {
  outline: 0.125rem solid #06C167;
  cursor: pointer;
}
.features__box-button:hover a, .features__box-button:hover i {
  color: #06C167;
}
.features__box-button a {
  color: #06C167;
}
.features__box-button i {
  color: #06C167;
  margin-left: 0.625rem;
}

.popular__title h3 {
  width: 100%;
}
.popular__product {
  padding: 1.5625rem 2.5rem 1.875rem;
  outline: 0.125rem solid #F0F1EC;
}
.popular__product:hover {
  outline: 0.25rem solid #06C167;
}
.popular__info .no {
  margin-right: 0.3125rem;
  color: #767675;
  text-decoration: line-through;
}
.popular__info .yes {
  color: #06C167;
}
.popular__button {
  border: 0.125rem solid;
  display: block;
  padding: 1.125rem 1.875rem;
  text-align: center;
  color: #06C167;
}
.popular__button:hover {
  cursor: pointer;
}
.popular__button a,
.popular__button i {
  color: #06C167;
}
.popular__button i {
  margin-left: 0.625rem;
}

.contact__container {
  place-content: center;
  height: 28.75rem;
  background-image: url(../../image/contact/img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__container h1 {
  margin-inline: auto;
  font-weight: 600;
  color: #fff;
  line-height: clamp(2.5rem, 5vw + 1.875rem, 4.375rem);
}
.contact__button a {
  display: inline-block;
  place-content: center;
  margin-top: 1.875rem;
  width: clamp(13.125rem, 5vw + 10.625rem, 18.125rem);
  height: 3.75rem;
  background-color: #06C167;
  color: #fff;
}

.footer__box-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.footer__box-text p {
  padding-right: 7.5rem;
}
.footer__box-social a:hover i {
  color: #06C167;
}
.footer__box-email input,
.footer__box-email button {
  padding: 1rem 1.25rem;
  background-color: #F0F1EC;
  border: none;
}
.footer__box-email input:focus {
  outline-color: #06C167;
}
.footer__box-email button {
  padding: 1rem 1.875rem;
  color: #fff;
  background-color: #06C167;
}
.footer__box-four p {
  padding-right: 5rem;
}