@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #1d1d1f;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #06C167;
}

::selection {
  background-color: #06C167;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  font-weight: 400;
  color: #1d1d1f;
  text-decoration: none;
}
a:hover {
  color: #06C167;
}

ul,
ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

i {
  color: #06C167;
}

.arrow {
  color: #fff;
}

.social {
  color: #1d1d1f;
}

.section-padding {
  padding: clamp(3.75rem, 5vw, 6.25rem) 0 clamp(3.75rem, 5vw, 8.125rem) 0;
}

.hero-heading {
  font-size: clamp(3.125rem, 4.8vw + 1.0625rem, 4.375rem);
  font-weight: 600;
}

.hero-text {
  color: hsla(240, 3%, 12%, 0.749);
}

.title {
  font-size: clamp(2.1875rem, 3.4vw + 1rem, 3.75rem);
  font-weight: 500;
  width: 15ch;
  line-height: 4.538125rem;
}

.mini-title {
  font-size: 0.9375rem;
  font-weight: 500;
}

.header {
  padding: 0.625rem 0;
  background-color: #f3fcf7;
}
.header__navbar {
  padding: 0;
}
.header__logo a {
  font-size: clamp(1.5625rem, 3vw + 0.625rem, 1.875rem);
  font-weight: 500;
  color: #06C167;
}
.header__logo a:hover {
  color: #06C167;
}
.header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.header__toggler .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0.1875rem solid #06C167;
}
.header__toggler .navbar-toggler:focus .toggler {
  color: #06C167;
}
.header__toggler .toggler {
  padding: 0.1875rem 0;
  font-size: 1.5625rem;
  color: #1d1d1f;
}
.header__menu a {
  font-weight: 500;
}
.header__menu a:hover {
  color: #06C167;
}
.header__menu .navbar-nav {
  gap: 20px;
}

.whyus__row {
  padding: 3.4375rem 0;
  border-top: 0.125rem solid #eaeaea;
  border-bottom: 0.125rem solid #eaeaea;
}
.whyus__box {
  gap: 1.25rem;
}
.whyus__icon i {
  padding: 1.25rem;
  background-color: #f3fcf7;
  border-radius: 0.5rem;
}
.whyus__content h2 {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
}
.whyus__content p {
  font-size: 0.875rem;
}

.benefit__row {
  gap: 5rem;
}
.benefit__image {
  padding: 0 3.125rem 5.625rem;
  background-color: #f3fcf7;
}
.benefit__image img {
  width: 27.8125rem;
  height: 31.875rem;
}
.benefit__contents h3 {
  margin: 0.625rem 0 3.75rem;
}
.benefit__contents li:not(:first-child) {
  margin-top: 0.625rem;
}
.benefit__contents li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.benefit__contents li i {
  font-size: 1.25rem;
}