.header {
  padding: px-to-rem(10px) 0;
  background-color: $bg-clr;
  // border: 1px solid;

  &__navbar {
    padding: 0;
  }

  &__logo {
    a {
      font-size: clamp(px-to-rem(25px), 3vw + px-to-rem(10px), px-to-rem(30px));
      font-weight: 500;
      color: $secondary-clr;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  &__menu {
    .active {
      color: $secondary-clr !important;
    }

    a {
      font-weight: 500;

      &:hover {
        color: $secondary-clr;
      }
    }

    .navbar-nav {
      gap: 20px;
    }
  }
}
