@import "./function/function";
@import "./utilitis/variable";

/* EXTRA SMALL DEVICES (PORTRAIT PHONE, less than 576px) */
@media (max-width: 575.98px) {
  // COMMON STYLE CSS START
  .title {
    width: 100%;
  }
  // COMMON STYLE CSS END

  // HEADER START
  .header {
    &__container {
      gap: 30px;
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // WHY CHOOSE US START
  .whyus {
    &__container {
      padding: 0 20px;
    }

    &__box {
      flex-direction: column;
      width: 50%;

      &:nth-child(-n + 2) {
        margin-bottom: 50px;
      }
    }

    &__content {
      text-align: center;

      h2 {
        line-height: px-to-rem(28px);
      }

      p {
        line-height: px-to-rem(15px);
      }
    }
  }
  // WHY CHOOSE US END

  // BENEFIT START
  .benefit {
    &__row {
      padding: 0 px-to-rem(10px);
    }

    &__contents {
      text-align: center;

      ul {
        padding-left: px-to-rem(20px);
      }
    }

    &__image {
      padding: 0 px-to-rem(25px) px-to-rem(25px);
      background-color: $bg-mobile-clr;

      img {
        margin-top: px-to-rem(-30px);
      }
    }
  }
  // BENEFIT END

  // STARS START
  .stars {
    &__row {
      padding: 0 px-to-rem(10px);
    }

    &__image {
      padding: 0 px-to-rem(25px) px-to-rem(25px);
      background-color: $bg-mobile-clr;

      img {
        margin-top: px-to-rem(-50px);
      }
    }

    &__contents {
      text-align: center;

      &-status {
        .box {
          width: 100%;
        }
      }
    }

    &__button {
      display: block;
    }
  }
  // STARS END
}

/* SMALL DEVICES (LANSCAPE PHONE, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  // HEADER START
  .header {
    &__container {
      gap: 30px;
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // WHY CHOOSE US START
  .whyus {
    &__row {
      gap: px-to-rem(20px);
    }

    &__box {
      margin-inline: auto;
      width: 48%;
    }
  }
  // WHY CHOOSE US END
}

/* MEDIUM DEVICES (TABLETS, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  // HEADER START
  .header {
    &__container {
      gap: 30px;
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // WHY CHOOSE US START
  .whyus {
    &__row {
      gap: px-to-rem(50px);
    }

    &__box {
      margin-inline: auto;
      width: 45%;
    }
  }
  // WHY CHOOSE US END
}

/* LARGE DEVICES (DESKTOPS, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  // BENEFIT START
  .benefit {
    &__image {
      padding: 0 px-to-rem(30px) px-to-rem(60px);
    }
  }
  // BENEFIT END

  // STARS START
  .stars {
    &__contents {
      &-row {
        gap: px-to-rem(10px);
      }
    }
  }
  // STARS END
}

/* EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* EXTRA EXTRA LARGE DEVICES (LARGE DESKTOPS, 1400px and up) */
@media (min-width: 1400px) {
}
