@import "./function/function";
@import "./utilitis/variable";



/* EXTRA SMALL DEVICES (PORTRAIT PHONE, less than 576px) */
@media (max-width: 575.98px) {
  // COMMON STYLE CSS START
  .title {
    width: 100%;
  }
  // COMMON STYLE CSS END

  // HEADER START
  .header {
    &__container {
      gap: 30px;
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // HERO START
  .hero {
    &__row {
      gap: px-to-rem(40px);
    }

    &__contents {
      margin-top: 0;
      text-align: center;

      h1,
      p {
        padding-right: 0;
      }
    }

    &__image {
      height: px-to-rem(330px);

      // Quality Image
      .quality::after {
        right: px-to-rem(30px);
        top: px-to-rem(360px);
      }

      // Rating Image
      .rating::after {
        right: px-to-rem(30px);
      }

      // Dots Image
      .dots::after {
        right: px-to-rem(-10px);
        bottom: px-to-rem(-100px);
        width: px-to-rem(150px);
        height: px-to-rem(150px);
      }
    }

    &__brands {
      margin-top: px-to-rem(60px);
      padding-bottom: px-to-rem(50px);

      img {
        margin-inline: auto;
        display: inline-block;
        width: px-to-rem(100px);
      }
    }

    &__brand {
      flex-wrap: wrap;
      width: 100%;
    }
  }
  // HERO END

  // WHY CHOOSE US START
  .whyus {
    &__container {
      padding: 0 20px;
    }

    &__box {
      flex-direction: column;
      width: 50%;

      &:nth-child(-n + 2) {
        margin-bottom: 50px;
      }
    }

    &__content {
      text-align: center;

      h2 {
        line-height: px-to-rem(28px);
      }

      p {
        line-height: px-to-rem(15px);
      }
    }
  }
  // WHY CHOOSE US END

  // BENEFIT START
  .benefit {
    &__row {
      padding: 0 px-to-rem(10px);
    }

    &__contents {
      text-align: center;

      ul {
        padding-left: px-to-rem(20px);
      }
    }

    &__image {
      padding: 0 px-to-rem(25px) px-to-rem(25px);
      background-color: $bg-mobile-clr;

      img {
        margin-top: px-to-rem(-30px);
      }
    }
  }
  // BENEFIT END

  // STARS START
  .stars {
    &__row {
      padding: 0 px-to-rem(10px);
    }

    &__image {
      padding: 0 px-to-rem(25px) px-to-rem(25px);
      background-color: $bg-mobile-clr;

      img {
        margin-top: px-to-rem(-50px);
      }
    }

    &__contents {
      text-align: center;

      &-status {
        .box {
          width: 100%;
        }
      }
    }

    &__button {
      display: block;
    }
  }
  // STARS END

  // FEATURES START
  .features {
    &__boxes {
      padding: 0 px-to-rem(10px);
    }

    &__box {
      flex-direction: column;

      &:nth-of-type(3) {
        flex-direction: column-reverse;
      }
      &:nth-of-type(4) {
        flex-direction: column-reverse;
      }

      &-image {
        padding: 0 px-to-rem(10px);
      }

      &-contents {
        padding: px-to-rem(40px) px-to-rem(40px) px-to-rem(30px) px-to-rem(30px);
        border: px-to-rem(2px) solid $secondary-clr;
      }
    }
  }
  // FEATURES END

  // POPULAR START
  .popular {
    &__title {
      text-align: center;
    }

    &__products {
      gap: px-to-rem(40px);
    }
  }
  // POPULAR END

  // FOOTER START
  .footer {
    &__box {
      text-align: center;
      margin-bottom: px-to-rem(50px);

      &-text {
        p {
          padding-right: 0;
        }
      }

      &-social,
      &-email {
        margin-inline: auto;
      }

      &-email {
        flex-direction: column;
      }
    }

    &__box-four {
      margin-bottom: 0;
    }
  }
  // FOOTER END
}

/* SMALL DEVICES (LANSCAPE PHONE, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  // HEADER START
  .header {
    &__container {
      gap: px-to-rem(30px);
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // HERO START
  .hero {
    &__contents {
      margin-top: 0;
      text-align: center;

      h1,
      p {
        padding-right: 0;
      }
    }

    &__image {
      // Quality Image
      .quality::after {
        right: px-to-rem(-20px);
      }

      // Rating Image
      .rating::after {
        right: px-to-rem(300px);
      }

      // Dots Image
      .dots::after {
        right: px-to-rem(-20px);
      }
    }

    &__brands {
      margin-top: 0;
      padding-bottom: px-to-rem(50px);

      img {
        margin-inline: auto;
        display: inline-block;
        width: 200px;
      }
    }

    &__brand {
      flex-wrap: wrap;
      width: px-to-rem(510px);
    }
  }
  // HERO END

  // WHY CHOOSE US START
  .whyus {
    &__row {
      gap: px-to-rem(20px);
    }

    &__box {
      margin-inline: auto;
      width: 48%;
    }
  }
  // WHY CHOOSE US END

  // FEATURES START
  .features {
    &__boxes {
      padding: 0 px-to-rem(10px);
    }

    &__box {
      flex-direction: column;

      &:nth-of-type(3) {
        flex-direction: column-reverse;
      }
      &:nth-of-type(4) {
        flex-direction: column-reverse;
      }

      &-image {
        padding: 0 px-to-rem(10px);
        background-color: #fff;
      }

      &-contents {
        padding: px-to-rem(40px) px-to-rem(40px) px-to-rem(30px) px-to-rem(30px);
        border: px-to-rem(2px) solid $secondary-clr;
      }
    }
  }
  // FEATURES END

  // POPULAR START
  .popular {
    &__title {
      text-align: center;
    }

    &__products {
      gap: px-to-rem(40px);
    }
  }
  // POPULAR END

  // FOOTER START
  .footer {
    &__box {
      text-align: center;
      margin-bottom: px-to-rem(50px);

      &-text {
        p {
          padding-right: 0;
        }
      }

      &-social,
      &-email {
        margin-inline: auto;
      }
    }

    &__box-four {
      margin-bottom: 0;
    }
  }
  // FOOTER END
}

/* MEDIUM DEVICES (TABLETS, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  // HEADER START
  .header {
    &__container {
      gap: 30px;
    }

    &__menu {
      padding: px-to-rem(20px) 0 px-to-rem(40px);

      .navbar-nav {
        gap: 60px;
      }

      .nav-item {
        margin-inline: auto;
      }
    }
  }
  // HEADER END

  // HERO START
  .hero {
    &__contents {
      margin-top: 0;
      text-align: center;

      h1,
      p {
        padding-right: 0;
      }
    }

    &__brands {
      margin-top: 0;
      padding-bottom: px-to-rem(50px);
    }
  }
  // HERO END

  // WHY CHOOSE US START
  .whyus {
    &__row {
      gap: px-to-rem(50px);
    }

    &__box {
      margin-inline: auto;
      width: 45%;
    }
  }
  // WHY CHOOSE US END

  // POPULAR START
  .popular {
    &__products {
      :nth-child(3) {
        margin-top: px-to-rem(20px);
      }
      :nth-child(4) {
        margin-top: px-to-rem(20px);
      }
    }
  }
  // POPULAR END

  // FOOTER START
  .footer {
    &__row {
      text-align: center;
    }

    &__box {
      &-text {
        p {
          padding-right: 0;
        }
      }

      &-social {
        margin-inline: auto;
      }

      &-email {
        flex-direction: column;
      }
    }

    &__box-two,
    &__box-three {
      margin-top: px-to-rem(30px);
    }
  }
  // FOOTER END
}

/* LARGE DEVICES (DESKTOPS, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  // HERO START
  .hero {
    &__contents {
      h1 {
        padding-right: px-to-rem(60px);
      }
      p {
        padding-right: px-to-rem(100px);
      }
    }
    &__image {
      // Rating Image
      .quality::after {
        top: px-to-rem(180px);
        right: px-to-rem(-40px);
      }
      .rating::after {
        top: px-to-rem(250px);
        right: px-to-rem(250px);
      }
      .dots::after {
        right: px-to-rem(-50px);
        bottom: px-to-rem(-20px);
        height: px-to-rem(150px);
      }
    }

    &__brands {
      margin-top: px-to-rem(-20px);
      padding-bottom: px-to-rem(50px);
    }
  }
  // HERO END

  // BENEFIT START
  .benefit {
    &__image {
      padding: 0 px-to-rem(30px) px-to-rem(60px);
    }
  }
  // BENEFIT END

  // STARS START
  .stars {
    &__contents {
      &-row {
        gap: px-to-rem(10px);
      }
    }
  }
  // STARS END

  // FEATURES START
  .features {
    &__box {
      &-contents {
        h2 {
          font-size: px-to-rem(25px);
        }
      }
    }
  }
  // FEATURES END

  // POPULAR START
  .popular {
    &__product {
      padding: px-to-rem(20px) px-to-rem(20px) px-to-rem(25px);
    }

    &__info {
      margin: px-to-rem(20px) 0 px-to-rem(30px);
    }

    &__button {
      padding: px-to-rem(10px);
    }
  }
  // POPULAR END

  // FOOTER START
  .footer {
    &__box {
      &-text {
        p {
          padding-right: px-to-rem(80px);
        }
      }

      &-email {
        flex-direction: column;
      }
    }

    &__box-four {
      p {
        padding-right: px-to-rem(40px);
      }
    }
  }
  // FOOTER END
}

/* EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  // HERO START
  .hero {
    &__brands {
      margin-top: px-to-rem(-120px);
    }

    &__image {
      // Quality Image
      .quality::after {
        top: px-to-rem(180px);
        right: px-to-rem(-60px);
      }

      // Rating Image
      &::after {
        top: px-to-rem(260px);
        right: px-to-rem(300px);
      }
    }
  }
  // HERO END

  // FOOTER START
  .footer {
    &__box {
      &-email {
        flex-direction: column;
      }
    }
  }
  // FOOTER END
}

/* EXTRA EXTRA LARGE DEVICES (LARGE DESKTOPS, 1400px and up) */
@media (min-width: 1400px) {
}