@import "../function/function";

.benefit {
  &__row {
    gap: clamp(px-to-rem(60px), 5vw, px-to-rem(80px));
  }

  &__image {
    padding: 0 px-to-rem(50px) px-to-rem(90px);
    background-color: $bg-clr;

    img {
      width: px-to-rem(445px);
      height: px-to-rem(510px);
    }
  }

  &__contents {

    li:not(:first-child) {
      margin-top: px-to-rem(10px);
    }

    li {
      display: flex;
      gap: px-to-rem(10px);
      align-items: center;

      i {
        font-size: px-to-rem(20px);
      }
    }
  }
}
