@import "../function/function";

// Padding
// .benefit {
//   margin: px-to-rem(100px) 0 px-to-rem(100px);
// }

// Padding
.padding-top {
  padding-top: px-to-rem(60px);
}
.padding-bottom {
  padding: px-to-rem(100px) 0 clamp(px-to-rem(150px), 5vw, px-to-rem(130px));
  // padding: 100px 0 150px;
}

.section-padding {
  // padding: clamp(60px, 5vw, 100px) 0 clamp(60px, 5vw, 130px) 0;
  padding: clamp(px-to-rem(60px), 5vw, px-to-rem(100px)) 0
    clamp(px-to-rem(60px), 5vw, px-to-rem(130px)) 0;
}

// Font Size
.hero-heading {
  font-size: clamp(px-to-rem(50px), 4.8vw + px-to-rem(17px), px-to-rem(70px));
  font-weight: 600;
}

.hero-text {
  color: hsla(240, 3%, 12%, 0.749);
}

.title {
  font-size: clamp(px-to-rem(35px), 3.4vw + px-to-rem(16px), px-to-rem(60px));
  font-weight: 500;
  margin: px-to-rem(10px) 0 clamp(px-to-rem(50px), 4vw, px-to-rem(60px)) 0;
  width: 15ch;
  line-height: clamp(px-to-rem(42px), 5vw + px-to-rem(18px), px-to-rem(72px));
}

.mini-title {
  font-size: px-to-rem(15px);
  font-weight: 500;
}

// It is for the bg image behind all titles in website
// .background-image {
//   position: relative;
//   top: 150px;
//   right: 50px;
//   padding: 60px;
//   background: url(../image/hero/dots.webp);
//   background-repeat: no-repeat;
//   z-index: -1;
// }

.background-image::after {
  // border: 1px solid red;
  
  content: "";
  position: absolute;
  top: px-to-rem(30px);
  left: px-to-rem(-60px);
  
  background-image: url("../image/hero/dots.webp"); 
  background-size: cover;
  background-repeat: no-repeat;
  
  width: px-to-rem(200px);
  height: clamp(px-to-rem(160px), 10vw, px-to-rem(180px));

  z-index: -1;
}
